@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --color-menu-light: #fff;
    --color-menu-dark: #fff;
    --light: #fff;
    --dark: #1e2023;
    --gray-light: #c5c5c5;
    --gray: #c5b9c1;
    --gray-bold: #819199;
    --gray-icon: #51595d;
}


input:-webkit-autofill { 
    -webkit-background-clip: text;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: #b0a2a2 !important;
}


/*=============== body ============== */
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/*=============== Scrollbar CSS ============== */
/* Firefox */
* {
    scrollbar-width: auto;
}
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #CBC8CA;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.toast{
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}


@layer components{
    /*=============== component ============== */
    .container-90{
        @apply w-[100%] max-w-[90%] m-auto z-[1]
    }

    .title{
        @apply
        mobile-sm:text-[16px]
        mobile-sm:font-semibold
        mobile-sm:delay

        mobile-lg:text-[20px]
        mobile-lg:font-semibold

        tablet-sm:text-[24px]

        laptop:text-[25px]
    }

    .title-small{
        @apply
        mobile-sm:text-[12px]
        mobile-sm:color-gray-bold
        mobile-sm:delay

        mobile-lg:text-[14px]

        tablet-sm:text-[15px]
    }

    .menu{
        @apply
        mobile-sm:text-[15px]
        mobile-sm:my-[15px]
        mobile-sm:delay

        mobile-lg:text-[18px]
        mobile-lg:my-[20px]

        tablet-lg:ml-[20px]
        
        dark:color-gray-light cursor-pointer font-[650] color-gray delay-[1] hover:color-gray-bold
    }

    .nav{
        @apply mobile-sm:h-[70px] mobile-lg:h-[100px] flex items-center fixed w-[100%] z-[50] delay
    }

    .nav-active{
        @apply mobile-sm:h-[60px] mobile-lg:h-[80px] bg-light dark:bg-dark flex items-center fixed w-[100%] z-[100] delay
    }

    .delay{
        @apply ease-out duration-500
    }

    .button{
        @apply
        mobile-sm:w-auto
        mobile-sm:h-auto
        mobile-sm:text-[#edf0f1]
        mobile-sm:rounded-[5px]
        mobile-sm:text-[13px]
        mobile-sm:py-[3px]
        mobile-sm:px-[6px]
        mobile-sm:delay

        mobile-lg:w-auto
        mobile-lg:h-auto
        mobile-lg:text-[#edf0f1]
        mobile-lg:rounded-[5px]
        mobile-lg:text-[14px]
        mobile-lg:py-[3px]
        mobile-lg:px-[7px]

        tablet-sm:text-[16px]

        laptop:px-[16px]
        laptop:py-[6px]

        hover:bg-[#DBDBDB]
        hover:text-[#797f87]
        dark:hover:bg-[#35323c] !important
    }

    .social{
        @apply
        mobile-sm:text-[15px]
        mobile-sm:color-gray-bold
        mobile-sm:dark:color-gray-light
        mobile-sm:cursor-pointer
        mobile-sm:mb-[10px]
        mobile-sm:delay
       
        mobile-lg:text-[17px]
        mobile-lg:mb-[15px]

        tablet-sm:text-[18px]

        laptop:text-[20px]
    }

    .darkmode{
        @apply mobile-sm:delay mobile-sm:text-[18px] text-[20px] dark:color-gray-light dark:hover:color-gray-bold hover:text-[color:var(--gray-bold)] !important
    }

    .hamburger-menu{
        @apply mobile-sm:delay cursor-pointer text-[25px] hover:text-[color:var(--gray-bold)] !important
    }

    .active-change-color{
        @apply
        mobile-sm:bg-[#fff]
        mobile-sm:w-[5px]
        mobile-sm:h-[5px]
        mobile-sm:rounded-[50%]
        mobile-sm:delay

        mobile-lg:bg-[#fff]
        mobile-lg:w-[7px]
        mobile-lg:h-[7px]
        mobile-lg:rounded-[50%]

        tablet-lg:w-[10px]
        tablet-lg:h-[10px]
    }

    .image1{
        @apply  
        mobile-sm:w-[80px]
        mobile-sm:mt-[-240px]
        mobile-sm:m-auto
        mobile-sm:delay
     
        mobile-lg:w-[100px]
        mobile-lg:mt-[-310px]
        mobile-lg:m-auto
        
        tablet-sm:w-[110px]
        tablet-sm:mt-[-340px]

        tablet-lg:mt-[-340px]

        laptop:w-[130px]
        laptop:mt-[-410px]
        laptop:right-[20px]
    }

    .slogan{
        @apply
        mobile-sm:text-[17px]
        mobile-sm:delay
        mobile-lg:text-[25px]
        tablet-sm:text-[26px]
        laptop:text-[32px]
        dark:color-gray-light
        color-gray-bold
        font-bold
    }

    .box-about{
        @apply
        mobile-sm:flex
        mobile-sm:flex-col
        mobile-sm:justify-center
        mobile-sm:items-center
        mobile-sm:w-[180px]
        mobile-sm:h-[120px]
        mobile-sm:rounded-[20px]
        mobile-sm:mb-[16px]
        mobile-sm:delay
        
        mobile-lg:flex
        mobile-lg:flex-col
        mobile-lg:justify-center
        mobile-lg:items-center
        mobile-lg:w-[300px]
        mobile-lg:h-[140px]
        mobile-lg:rounded-[20px]

        tablet-sm:w-[150px]
        tablet-sm:h-[140px]
        tablet-sm:mr-[16px]
        tablet-sm:mb-0

        tablet-lg:w-[120px]
        tablet-lg:h-[130px]

        laptop:w-[150px]
        laptop:h-[150px]

        hover:bg-transparent
        hover:border-[#e9dfdf]
        hover:border-solid
        hover:border-[1px]

        dark:hover:border-[#474951]
        dark:hover:border-solid
        dark:hover:border-[1px]
        dark:hover:bg-transparent !important
    }

    .box-contact{
        @apply
        mobile-sm:flex
        mobile-sm:flex-col
        mobile-sm:justify-center
        mobile-sm:items-center
        mobile-sm:w-[180px]
        mobile-sm:h-[120px]
        mobile-sm:rounded-[20px]
        mobile-sm:mb-[16px]
        mobile-sm:delay
        
        mobile-lg:flex
        mobile-lg:flex-col
        mobile-lg:justify-center
        mobile-lg:items-center
        mobile-lg:w-[330px]
        mobile-lg:h-[140px]
        mobile-lg:rounded-[20px]
        
        tablet-sm:w-[350px]
        tablet-sm:h-[140px]

        tablet-lg:w-[180px]
        tablet-lg:h-[130px]

        laptop:w-[230px]
        laptop:h-[140px]

        hover:bg-transparent
        hover:border-[#e9dfdf]
        hover:border-solid
        hover:border-[1px]

        dark:hover:border-[#474951]
        dark:hover:border-solid
        dark:hover:border-[1px]
        dark:hover:bg-transparent !important
    }

    .hover-a{
        @apply
        group-hover:text-[#7184bd]
        dark:group-hover:text-[#5e6dbf] !important
    }

    .hover-title{
        @apply
        group-hover:text-[#84919f] !important
    }

    .text{
        @apply
        mobile-sm:text-[13px]
        mobile-sm:delay

        mobile-lg:text-[15px]

        laptop:text-[17px]
    }

    .text-small{
        @apply
        mobile-sm:text-[14px]
        mobile-sm:color-gray-bold
        mobile-sm:dark:color-gray-light
        mobile-sm:mb-[10px]
        mobile-sm:delay

        mobile-lg:text-[16px]
        mobile-lg:color-gray-bold
        mobile-lg:dark:color-gray-light
        mobile-lg:mb-[10px]

        tablet-sm:text-[17px]
    }

    /*=============== icon ============== */
    .icon-textbox{
        @apply
        mobile-sm:text-[18px]
        mobile-sm:delay
        mobile-lg:text-[20px]
        color-gray-icon
    }

    .icon-mouse{
        @apply mobile-sm:delay mobile-sm:text-[17px] mobile-lg:text-[20px] tablet-sm:text-[23px] laptop:text-[25px] group-hover:text-[color:var(--gray-bold)] !important
    }

    .icon-arrow-down{
        @apply mobile-sm:delay mobile-sm:text-[17px] mobile-lg:text-[20px] group-hover:animate-jumpInfinite group-hover:text-[color:var(--gray-bold)] !important
    }

    .common{
        @apply bg-[#111] absolute rounded-t-[2px] rounded-r-none rounded-b-none rounded-l-[2px]
    }

    /*=============== bg color ============== */
    .bg1{
        @apply bg-[color:var(--color1)]
    }

    .bg2{
        @apply bg-[color:var(--color2)]
    }

    .bg3{
        @apply bg-[color:var(--color3)]
    }

    .bg-light{
        @apply bg-[color:var(--light)]
    }

    .bg-dark{
        @apply bg-[color:var(--dark)]
    }

    /*=============== color ============== */
    .color-menu-light{
        @apply text-[color:var(--color-menu-light)]
    }
    
    .color-menu-dark{
        @apply text-[color:var(--color-menu-dark)]
    }

    .color-gray-light{
        @apply text-[color:var(--gray-light)]
    }

    .color-gray{
        @apply text-[color:var(--gray)]
    }

    .color-gray-bold{
        @apply text-[color:var(--gray-bold)]
    }

    .color-gray-icon{
        @apply text-[color:var(--gray-icon)]
    }

    .color-dark{
        @apply text-[color:var(--dark)]
    }

    .color-light{
        @apply text-[color:var(--light)]
    }

}



.bg-page-light{
    -webkit-mask:url("./assets/background/bg-page-light.png") center/cover;
    mask:url("./assets/background/bg-page-light.png") center/cover;
}

.bg-page-dark{
    -webkit-mask:url("./assets/background/bg-page-dark.png") center/cover;
    mask:url("./assets/background/bg-page-dark.png") center/cover;
}

.bg-mobile-page-dark{
    -webkit-mask:url("./assets/background/bg-mobile-page-dark.png") center/cover;
    mask:url("./assets/background/bg-mobile-page-dark.png") center/cover;
}

.bg-mobile-page-light{
    -webkit-mask:url("./assets/background/bg-mobile-page-light.png") center/cover;
    mask:url("./assets/background/bg-mobile-page-light.png") center/cover; 
}